<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SysEduca Web{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.animatedmarker@1.0.0/src/AnimatedMarker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <style>
        body { background-color: #f8f9fa; }
        .navbar { background-color: #004d40; }
        .toast-container { z-index: 1100; }
		 #map { height: 400px; }
      </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body { background-color: #f8f9fa; }
    </style>
	{% block head_extra %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}"><b>gestor</b> 360º</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if session.logged_in %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}"><i class="bi bi-speedometer2"></i> Dashboard</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cadastrosMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square"></i> Cadastros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="cadastrosMenu">
                        {% if session.get('role') in ['admin', 'RH'] %}
                        <li><a class="dropdown-item" href="{{ url_for('lista_servidores') }}"><i class="bi bi-people-fill"></i> Servidores</a></li>
                        {% endif %}
                        {% if session.get('role') in ['admin', 'Combustivel'] %}
                        <li><a class="dropdown-item" href="{{ url_for('gerenciar_veiculos') }}"><i class="bi bi-truck"></i> Veículos</a></li>
						<li><a class="dropdown-item" href="{{ url_for('motoristas.listar') }}"><i class="bi bi-person-video3"></i> Motoristas</a></li>
						  {% if session.get('role') in ['Combustivel', 'admin'] %}
						<li><a class="dropdown-item" href="{{ url_for('transporte.dashboard') }}"><i class="bi bi-bus-front-fill"></i> Transporte</a></li>
						{% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('lancar_abastecimento') }}"><i class="bi bi-fuel-pump-fill"></i> Combustível</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="modulosMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-grid-fill"></i> Módulos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="modulosMenu">
                        {% if session.get('role') in ['admin', 'RH'] %}
                        <li><a class="dropdown-item" href="{{ url_for('protocolo.dashboard') }}"><i class="bi bi-folder2-open"></i> Protocolo</a></li>
						<li><a class="dropdown-item" href="{{ url_for('contratos.gerenciar_contratos') }}"><i class="bi bi-file-text-fill"></i> Contratos</a></li>
						<li><a class="dropdown-item" href="{{ url_for('patrimonio.listar_itens') }}"><i class="bi bi-archive-fill"></i> Patrimônio</a></li>						
                        <li><a class="dropdown-item" href="{{ url_for('listar_requerimentos') }}"><i class="bi bi-file-earmark-text"></i> Requerimentos</a></li>                         
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('visualizar_frequencia') }}"><i class="bi bi-clock-history"></i> Frequência</a></li>
						<li><a class="dropdown-item" href="{{ url_for('frequencia.dashboard_frequencia') }}"><i class="bi bi-clock-history"></i> Visão Frequência</a></li>
						<li><a class="dropdown-item" href="{{ url_for('escola.listar_escolas') }}"><i class="bi bi-building"></i> Escolas</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bloco_de_notas') }}"><i class="bi bi-journal-richtext"></i> Bloco de Notas</a>
                </li>
                
                {% if session.get('role') == 'admin' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i> Administração
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminMenu">
                        <li><a class="dropdown-item" href="{{ url_for('lista_usuarios') }}"><i class="bi bi-person-gear"></i> Usuários</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('ver_logs') }}"><i class="bi bi-journal-text"></i> Logs</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin_licenca') }}"><i class="bi bi-key-fill"></i> Licença</a></li>
						<a class="dropdown-item" href="{{ url_for('backup.index') }}"><i class="bi bi-database-down"></i> Backup</a>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="relatoriosMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-file-earmark-arrow-down-fill"></i> Relatórios
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="relatoriosMenu">
                        <li><a class="dropdown-item" href="{{ url_for('gerar_relatorio_pdf') }}">Relatório de Servidores (PDF)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('pagina_relatorio_mensal') }}">Relatório Mensal de Combustível</a></li>
						        <li><a class="dropdown-item" href="{{ url_for('relatorio_combustivel_tce_pi') }}">Relatório de Combustível (TCE-PI)</a></li>
    <li><a class="dropdown-item" href="{{ url_for('selecionar_relatorio_veiculos') }}">Relatório Mensal de Abastecimentos</a></li>


						<li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('merenda.relatorio_saidas') }}">Relatório de Saídas da Merenda</a></li>
		                <li><a class="dropdown-item" href="{{ url_for('merenda.relatorio_consolidado_mensal') }}">Relatório Consolidado da Merenda</a></li>
                    </ul>
                </div>
                <a href="{{ url_for('logout') }}" class="btn btn-danger ms-2"><i class="bi bi-box-arrow-right"></i> Sair</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>


<div class="toast-container position-fixed top-0 end-0 p-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex"><div class="toast-body">{{ message }}</div><button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button></div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<main class="container mt-4">
    {% block content %}{% endblock %}
</main>

<footer class="text-center text-muted py-4 mt-auto">
    <p>&copy; {{ current_year }} - Sistema para gerenciamento de secretarias</p>
</footer>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            var toast = new bootstrap.Toast(toastEl, { delay: 5000 });
            toast.show();
            return toast;
        });
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>