<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregando Sistema...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
</head>
<body>

    <div class="splash-container">
        <img src="{{ url_for('static', filename='animacao.gif') }}" alt="Carregando..." class="splash-gif">
    </div>

    <script>
        function redirecionarParaLogin() {
            window.location.href = "{{ url_for('login') }}";
        }
        setTimeout(redirecionarParaLogin, 3000); // Redireciona após 3 segundos
    </script>

</body>
</html>